.gallery {
  width: 1240px;
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 60px;
  background: #f6f6f6;
  border-radius: 25px;
  box-sizing: border-box; // Assure que le padding est inclus dans la largeur/hauteur

  .housing-card {
    width: 340px;
    height: 340px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden; // Assure que le border-radius est appliqué sur l'image de fond
    cursor: pointer;
  
    .housing-title {
        margin: 0;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        padding: 20px;
    }
  }
  
}

@media (max-width: 376px) {
  .gallery {
    width: 335px;
    margin: 20px auto;
  
    grid-template-columns: repeat(1, 1fr); // 1 colonnes
    gap: 20px;
    padding: 0px;
    background: #fff;
  
    .housing-card {
      width: 335px;
      height: 255px;
    }
    
  }
}