.header {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px auto;

  .header-logo {
    height: 50px;
  }

  .navigation {
    display: flex;
    align-items: center;

    .nav-link {
      text-decoration: none;
      margin-right: 57px;
      font-size: 18px;
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }
    }

    .nav-link:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 66px 0px 29px 0px;
  text-align: center;

  .footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .footer-logo {
      height: 30px;
    }

    p {
      font-size: 15px;
      margin: 0;
    }
  }
}

.main-content {
  margin: 0px 50px;
}
